body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.logo img {
    position: fixed;
    top: 25px;
    left: 3%;
    width: 50px;
    z-index: 2;
    /* margin: auto; */
}

.bg {
    background-image: url("pc_bg1.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

ul {
    position: fixed;
    top: 5%;
    left: 5.7%;
    /* height: 5%; */
    transform: translateY(-50%);
    margin-top: 0;
    padding: 0;
    z-index: 1;
}

ul li {
    list-style: none;
    float: left;
    /* top: 5%; */
    margin-left: 25px;
}

ul li a {
    display: block;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #000;
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    /* background: wheat; */
}

a:hover {
    color: azure;
}

#container {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

#container div h1 {
    position: absolute;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    transform: translateY(-50%);
    font-size: 25px;
    top: 65%;
    left: 15%;
    width: 100%;
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.95);
}

#container div p {
    position: absolute;
    bottom: 25.5%;
    left: 15%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    font-size: 23px;
    color: aliceblue;
}

#container div h2 {
    position: absolute;    
    text-align: center;
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transform: translateY(-50%);
    font-size: 24.8vmax;
    top: 27.5%;
    left: 20%;
    width: 100%;
    margin: 0;
    padding: 0%;
    color: rgba(21, 21, 21, 0.950);
}

#container div {
    position: relative;
    
}

#container div#home {
    /* background: rgba(255, 0, 0, 0.24); */
    /* background-image: url("pc_bg1.png"); */
    
    width: 100%;
    height: 100%;
}

#container div#about {
    background: rgba(24, 19, 171, 0.56);
    width: 100%;
    height: 100%;
}

.box1 {
    background-color: rgba(21, 21, 21, 0.950);
    position: fixed;
    top: 12%;
    left: 25%;
    right: 0;
    width: 25%;
    height: 75%;
    /* margin: auto; */
    /* border-radius: 30% 0 0 0; */
    /* border-radius: 20dvh; */
    border-radius: 13cqw 0 0 0;
}
.box2 {
    background-color: rgba(21, 21, 21, 0.950);
    position: fixed;
    top: -28%;
    left: 51%;
    right: 0;
    width: 25%;
    height: 40%;
    /* border-radius: 30% 0 0 0; */
    /* border-radius: 20dvh; */
    border-radius:  0 0 13cqw 0;
}

.box_D {
    background-color: rgba(21, 21, 21, 0.950);
    position: fixed;
    top: -103%;
    left: 51%;
    right: 0;
    width: 14%;
    height: 33%;
    /* border-radius: 30% 0 0 0; */
    /* border-radius: 20dvh; */
    border-radius:  0 8cqw 8cqw 0;
}

.box1 img {
    position: absolute;
    top: 65px;
    left: 0;
    right: 0;
    width: 75%;
    margin: auto;
    /* border */
    /* opacity: 100%; */
}

.box1 div.SocMed {
    position: absolute;
    bottom: -66%;
    width: 25%;
}

.box1 div.fb {
    top: -5px;
    left: 35%;
}

.box1 div.ins {
    top: -2px;
    left: 100%;
}

.box1 div.twt {
    left: 185%;
    width: 60%;
}

.box1 div.email {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    color: aliceblue;
    text-align: right;
    top: 89%;
    right: -40%;
    width: 50%;
}

.box1_1 img {
    background-color: transparent;
    position: absolute;
    top: 40px;
    left: -10%;
    width:60%;
}


#about div.abtme_tt {
    position: absolute;
    
    top: 18%;
    left: 42%;
    width:50%;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1000;
}

#about div.abtme {
    position: absolute;
    top: 35%;
    left: 42%;
    width:50%;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}

#about div.abtlikes_tt {
    position: absolute;
    
    top: 43%;
    left: 42%;
    width:50%;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1000;
}

#about div.abtlikes {
    position: absolute;
    top: 47%;
    left: 42%;
    width:50%;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}

#about div.abtskills_tt {
    position: absolute;
    
    top: 56%;
    left: 42%;
    width:50%;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1000;
}

#about div.abtskills {
    position: absolute;
    top: 60%;
    left: 42%;
    width:50%;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}